certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
psutil==6.1.1
requests==2.32.3
tk==0.1.0
urllib3==2.3.0


##############################################
##############	EXTERNAL LIBS	##############
##############################################

FILE					Library

NordVPNTKGUI			import tkinter as tk
myTheme					import tkinter as tk
cls_tabFrm_Account 		import tkinter as tk
cls_Frm_AccStatus 		import tkinter as tk
cls_Frm_AccActions		import tkinter as tk
myTable 				import tkinter as tk
cls_Dlg_URLWndw 		import tkinter as tk
cls_Frm_ConnStatus 		import tkinter as tk
cls_Frm_Services 		import tkinter as tk
cls_tabFrm_Connections	import tkinter as tk
cls_Dlg_ListboxWndw 	import tkinter as tk
cls_tabFrm_Settings 	import tkinter as tk

myTheme					from tkinter import font as tkFont

NordVPNTKGUI			from tkinter import ttk
cls_tabFrm_Account 		from tkinter import ttk

NordVPNTKGUI			from tkinter import messagebox
cls_Frm_AccActions		from tkinter import messagebox
cls_tabFrm_Connections	from tkinter import messagebox
cls_tabFrm_Settings 	from tkinter import messagebox

myTheme					import os
nvpnPort 				import os
cls_Frm_AccActions		import os
cls_Frm_Services 		import os
cls_tabFrm_Settings 	import os

nvpnPort 				import json
cls_Frm_AccStatus 		import json
cls_Frm_AccActions		import json 
cls_Frm_Services 		import json 
cls_tabFrm_Connections	import json
cls_tabFrm_Settings 	import json

nvpnPort 				import sys
cls_Frm_AccActions		import sys 

nvpnPort 				import time
cls_Frm_AccActions		import time 
cls_tabFrm_Connections	import time

nvpnPort 				import subprocess
cls_Frm_AccActions		import subprocess
cls_Dlg_URLWndw 		import subprocess

nvpnPort 				import psutil
cls_Frm_AccActions		import psutil
cls_Frm_Services 		import psutil

nvpnPort 				import requests	

nvpnPort 				from datetime import datetime
nvpnPort 				#from pubsub import pub
cls_tabFrm_Connections	from pubsub import pub

cls_Frm_AccActions		import asyncio
cls_Dlg_URLWndw 		import webbrowser



##########################################
##############	OWN STUFF 	##############
##########################################

FILE					Library

NordVPNTKGUI			import myTheme as skin
cls_tabFrm_Account 		import myTheme as skin
cls_Frm_AccStatus 		import myTheme as skin
cls_Frm_AccActions		import myTheme as skin
myTable 				import myTheme as skin
cls_Dlg_URLWndw 		import myTheme as skin
cls_Frm_ConnStatus 		import myTheme as skin
cls_Frm_Services 		import myTheme as skin
cls_tabFrm_Connections	import myTheme as skin
cls_Dlg_ListboxWndw 	import myTheme as skin
cls_tabFrm_Settings 	import myTheme as skin


NordVPNTKGUI			import nvpnPort as nvpnT
cls_tabFrm_Account 		import nvpnPort as nvpnT
cls_Frm_AccActions		import nvpnPort as nvpnT
cls_Frm_ConnStatus 		import nvpnPort as nvpnT
cls_Frm_Services 		import nvpnPort as nvpnT
cls_tabFrm_Connections	import nvpnPort as nvpnT
cls_tabFrm_Settings 	import nvpnPort as nvpnT


cls_Frm_AccStatus 		from myTable import TkTable as AccStatTbl
cls_Frm_ConnStatus 		from myTable import TkTable as connStatusTbl
cls_Frm_Services 		from myTable import TkTable as myTableFrm 
cls_tabFrm_Settings 	from myTable import TkTable as myTkTable

cls_tabFrm_Account 		from cls_Frm_ConnStatus import ConnStatusFrame
cls_tabFrm_Connections	from cls_Frm_ConnStatus import ConnStatusFrame

NordVPNTKGUI			from cls_tabFrm_Account import TabAccount

cls_tabFrm_Account 		from cls_Frm_AccStatus import AccountStatusFrame
cls_tabFrm_Account 		from cls_Frm_AccActions import AccountActionsFrame
cls_tabFrm_Account 		from cls_Frm_Services import NordVPNServices as NvpnServicesFrm 
cls_Frm_AccActions		from cls_Dlg_URLWndw import URLDialog as urlMsgBox

NordVPNTKGUI			from cls_tabFrm_Connections import TabConnections

cls_tabFrm_Connections	from cls_Dlg_ListboxWndw import ListBoxDialog as dlgRating

NordVPNTKGUI			from cls_tabFrm_Settings import TabSettings
cls_tabFrm_Settings 	from nvpnSettingCommands import nvpnCommandsArray

